input {
  border: none;
  margin: 0 5px;
  width: 209px;
  height: 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: -0.05em;
  text-align: left;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  margin-left: 28px;
  caret-color: rgba(17, 17, 17, 1);
}

input:focus {
  outline: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid rgba(17, 17, 17, 1);
  max-width: 500px;
  height: 56px;
  margin: 0 auto;
  border-radius: 14px;
}
.containerBtn {
  background-color: rgba(17, 17, 17, 1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  width: 107px;
  height: 38px;
  border-radius: 8px;
  margin: 12px 5px 12px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: -0.03em;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

.containerBtn:hover {
  color: rgba(17, 17, 17, 1);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(17, 17, 17, 1);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  .container {
    width: 328px;
  }

  .containerBtn {
    font-size: 14px;
  }
}
